<div class="column-selector">
  <div class="csv-upload">
    <h3>Upload CSV Data</h3>
    <div class="upload-container">
      <app-fileupload 
        [fileextension]="'csv'"
        (fileadded)="onFileAdded($event)">
      </app-fileupload>
      <div class="row-count" *ngIf="rowCount > 0">
        <button mat-button (click)="togglePreview()">
          {{rowCount}} rows
          <mat-icon>{{showPreview ? 'expand_less' : 'expand_more'}}</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="preview-container" *ngIf="showPreview">
    <app-datatable [d]="csvData"></app-datatable>
  </div>

  <h3>Select Latitude and Longitude Columns</h3>
  
  <div class="column-selection">
    <mat-form-field appearance="fill">
      <mat-label>Latitude Column</mat-label>
      <mat-select [(value)]="selectedLatColumn" (selectionChange)="onColumnChange()">
        <mat-option *ngFor="let header of headers" [value]="header.value">
          {{header.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Longitude Column</mat-label>
      <mat-select [(value)]="selectedLngColumn" (selectionChange)="onColumnChange()">
        <mat-option *ngFor="let header of headers" [value]="header.value">
          {{header.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="test-button">
    <button mat-raised-button color="primary" (click)="addTestPoints()">
      Add Test Points
    </button>
  </div>
</div> 