.map-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.map-frame {
  height: 100%;
  width: 100%;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.refreshButton {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
  z-index: 10000;
}

.refreshButton:hover{
    opacity: 0.8;
    cursor: pointer;
}
