<!-- <mat-tab-group class="" dynamicHeight >
  <mat-tab label="Map">



  </mat-tab>
  <mat-tab label="Data"> Data </mat-tab>
</mat-tab-group> -->
<div class="map-container"    leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)" (leafletMapZoomEnd)="onMapZoomEnd()" (leafletMapMoveEnd)="onMapZoomEnd()">
  <button class="refreshButton" title="Toggle back ground" (click)="toggleTileLayer()"><mat-icon> layers</mat-icon> </button>
  <!-- <div class="test">
    a
        </div> -->
</div>
<app-mapdata [points]="tempmap" [map]="map" ></app-mapdata>
<!-- {{tempmap|json}} -->
