<div>
  <div class="container-fluid" style="min-height: 100vh">
    <div class="row">
      <div class="col">
        <h1>GeoJSON Styler</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="row"  style="border-style: hidden hidden hidden dotted;">
          <div class="col">

            <p>Choose your GeoJSON to use to get started</p>
            <app-fileupload
              [fileextension]="'json'"
              (fileadded)="addLayer($event)"
            ></app-fileupload>
          </div>
        </div>
        <br>
        <mat-accordion>
          <mat-expansion-panel [expanded]="expanded | async">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Geographical Layers ({{
                  featureCollectionLayers.length
                }})</mat-panel-title
              >
              <mat-panel-description> </mat-panel-description>
            </mat-expansion-panel-header>

            <ng-container
              *ngFor="
                let featureCollection of featureCollectionLayers;
                let i = index
              "
            >
              <div class="row">
                <div class="col">
                  <mat-checkbox
                    class="example-margin"
                    [checked]="featureCollection.active"
                    (change)="updateActive($event,i)"
                    >Active</mat-checkbox
                  >
                </div>
                <div class="col float-right">
                  <button
                    class=""
                    mat-button
                    color="primary"
                    aria-label="Example icon button with a menu icon"
                  >
                    <mat-icon (click)="removeLayer(i)">delete</mat-icon>
                  </button>
                </div>
              </div>
              <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                  <mat-panel-title> Styling </mat-panel-title>
                  <mat-panel-description> </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row">
                  <div class="col">
                    <app-data
                      [stylerules]="featureCollection.stylerules"
                      [featurecollectionlayerindex]="i"
                      [featureCollectionLayers]="featureCollectionLayers"
                    ></app-data>
                    <!-- styledata:{{featureCollection.styledata|json}} -->
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title> Filter </mat-panel-title>
                  <mat-panel-description> </mat-panel-description>
                </mat-expansion-panel-header>
                {{ featureCollection.terms | json }}
                <app-suburbfilter
                  [feature]="featureCollection | firstfeature"
                  (termChange)="updateTerms($event, i)"
                ></app-suburbfilter>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title> List </mat-panel-title>
                  <mat-panel-description>
                    <!-- ({{
                      (
                        featureCollection
                        | featurefilter: featureCollection.terms.triggerval
                      )
                    }}) -->
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <!-- {{featureCollection.terms|json}} -->
                <app-suburblist
                  [featureCollection]="featureCollection"
                ></app-suburblist>
              </mat-expansion-panel>
            </ng-container>
          </mat-expansion-panel>
        </mat-accordion>

        <!-- {{term|json}} -->
      </div>

      <div class="col" style="min-height: 80vh;max-height: 800px;">
        <div class="map-container">
          <div class="map-frame">
            <app-map
              (map$)="receiveMap($event)"
              (zoom$)="receiveZoom($event)"
              id="main-map"
            ></app-map>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- {{geojsondata?.features|json}} -->
