<mat-accordion>
  <mat-expansion-panel [expanded]="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Preview Data ({{ dataLength }} rows)
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table class="table" *ngIf="d">
      <tbody>
        <tr *ngFor="let item of d | csvtojson">
          <td *ngFor="let item of item">{{ item }}</td>
        </tr>
      </tbody>
    </table>
  </mat-expansion-panel>
</mat-accordion>
