<div class="row">
  <div class="col" style="border-style: hidden hidden hidden dotted">
    <p>You can choose a CSV upload or JSON from a data endpoint.</p>
    <mat-tab-group>
      <mat-tab label="CSV">
        <p>Choose the csv formatted data you would like to use.</p>
        <app-fileupload
          [fileextension]="'csv'"
          (fileadded)="addData($event)"
        ></app-fileupload>
      </mat-tab>
      <mat-tab label="JSON">
        <app-jsonendpoint [endpointurl]="endpointurl" (dataChange)="addJSONData($event)" ></app-jsonendpoint>

      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<br />
<div class="row">
  <div class="col">
    <h1>Data layers</h1>
    <p>Choose the column to join on (Eg. The suburb column)</p>
    <app-geocolumn
    [featureCollectionIndex]="featurecollectionlayerindex"

      [tableheaders]="d | csvtojson | tableheaders"
    ></app-geocolumn>

  </div>
</div>
<!-- {{ d | jsontocsv | json }}
    {{d|json}} -->
<div class="row">
  <div class="col"></div>
</div>
<div class="row">
  <div class="col">
    <app-stylerule
      (stylerulesChange)="updateStyleRules($event)"
      [stylerules]="stylerules"
      [tableheaders]="d | csvtojson | tableheaders"
      [featureCollectionIndex]="featurecollectionlayerindex"
    >
    </app-stylerule>
    <!-- {{featurecollectionlayerindex}}
    {{stylerules|json}} -->
  </div>
</div>
<app-datatable [d]="d"></app-datatable>

