
<mat-form-field appearance="fill">
  <mat-label>GEOJSON</mat-label>
  <mat-select [(value)]="geocolumn.GEOJSON">
    <mat-option *ngFor="let column of (featureCollectionLayers[featureCollectionIndex]|firstfeature)?.properties|keyvalue" [value]="column.key">
      {{ column.key }}
    </mat-option>
  </mat-select>
</mat-form-field>
>>
<mat-form-field appearance="fill">
  <mat-label>Location DATA (Usually suburb)</mat-label>
  <mat-select [(value)]="geocolumn.GEOColumn" (selectionChange)="geoSelectChanged($event)" >
    <mat-option *ngFor="let column of tableheaders" [value]="column.value">
      {{ column.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>
<!-- {{featureCollectionLayers[featureCollectionIndex]|firstfeature|json}} -->


