<h1>Map Data</h1>
<p>{{points?.length}} rows</p>
{{minx}} {{maxx}}
{{miny}} {{maxy}}
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>X</th>
      <th>Y</th>
      <th>X normalised</th>
      <th>Y normalised</th>
      <th>GeoDistance</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let obj of points;index as i">
      <td>{{obj.id}}</td>

      <td>{{(obj.x) }}</td>
      <td>{{(obj.y) }}</td>
      <td>{{((obj.x) -minx)  }}</td>
      <td>{{((obj.y)-miny)}}</td>
      <td>{{distance(obj,points![i+1])}}</td>
      <td></td>
    </tr>
  </tbody>
</table>
