<mat-checkbox [(ngModel)]="checked">LatLng</mat-checkbox>

<div class="layers-control">
  <h3>Layers</h3>
  <div *ngFor="let layer of mapState.layers$ | async" class="layer-item">
    <mat-slide-toggle 
      [(ngModel)]="layer.visible"
      (change)="onLayerVisibilityChange(layer.id)">
      {{ layer.name }} ({{ layer.type }})
    </mat-slide-toggle>
  </div>
</div>

<h1>Map Data</h1>
<p>{{ (mapState.points$ | async)?.length }} rows</p>
{{ minx }} {{ maxx }} {{ miny }} {{ maxy }}
<div class="container">
  <div class="row">
    <div class="col">
      <h3>Points</h3>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Lat</th>
            <th>Lng</th>
            <th>X</th>
            <th>Y</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let point of mapState.points$ | async">
            <td>{{ point.id }}</td>
            <td>{{ point.getLatLng().lat }}</td>
            <td>{{ point.getLatLng().lng }}</td>
            <td>{{ point.x }}</td>
            <td>{{ point.y }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
