<h1>Map Data</h1>
<p>{{ points?.length }} rows</p>
{{ minx }} {{ maxx }} {{ miny }} {{ maxy }}
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Lat</th>
      <th>Lng</th>
      <th>X</th>
      <th>Y</th>
      <th>GeoDistance</th>

      <th>xyDistance</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let obj of points; index as i">
      <td>{{ obj.id }}</td>

      <td>{{ obj.getLatLng().lat }}</td>
      <td>{{ obj.getLatLng().lng }}</td>
      <td>{{ obj.x! -minx }}</td>
      <td>{{ obj.y! - miny }}</td>
      <td>{{ distance(obj.getLatLng(), points![i + 1].getLatLng()) }}</td>
      <td>{{ xyDistance(obj, points![i + 1]) }}</td>
    </tr>
  </tbody>
</table>
